input{
    width: 595px;
    height: 80px;
    background-color:  hsl(235, 24%, 19%);
    border-radius: 15px;
    padding: 0;
    border: 0;
    text-align: center;
    color: white;
    outline: none;
    font-size: 22px;
}
.todo{
    margin-bottom:40px ;
}
