*{
  font-family: Josefin Sans;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App{
  height: 100vh;
  background-image: url('./img/bg-desktop-dark.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color :hsl(235, 21%, 11%)
}
.wrapper{
  max-width: 600px;
  margin: 0 auto;
}